/* reset */
html,
body,
div,
header {
  margin: 0;
  padding: 0;
  border: 0;
}
/* reset */

/* Variável PALETA DE CORES */
:root {
  --cor1: #977ef2;
  --cor2: #0597f2;
  --cor3: #2955D9;
  --cor4: #F25C05;
  --cor5: #F24C3D;
}

body {
  background-color: var(--cor2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header {
    font-size: 35px;
}
body #id-divGlobal {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;

    background-color: var(--cor3);
    height: 700px;
    width: 80%;
}

    #id-divGlobal .torre {
        display: flex; 
        flex-direction: column-reverse; 
        align-items: center;
        

        background-color: #977ef2;
        margin: 5%;
        height: 50%;
        width: 20%;
    }
        .torre  .discos {
            margin: 3%;
            height: 10%;
            width: 85%;
        }
        .torre #disco1 {
          width: 150px;
          background-color: var(--cor4);
        }
        .torre #disco2 {
          width: 130px;
          background-color: #f30101;
        }
        .torre #disco3 {
          width: 100px;
          background-color: cyan;
        }
        .torre #disco4 {
          width: 80px;
          background-color: blue;
  
        }